<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imperials.osmp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pra3"
        android:label="Page Replacement"
        android:roundIcon="@drawable/pra3"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/SplashAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:label="Page Replacement " />
        <activity
            android:name=".MainPage"
            android:parentActivityName=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Learn"
            android:label="Learn" />
        <activity android:name=".First" />
        <activity android:name=".Resently" />
        <activity android:name=".Frequently" />
        <activity android:name=".OptimalPR" />
        <activity android:name=".WebView_fifo_program"></activity>
    </application>

</manifest>